/*Footer section*/
.navbar-brand {
    font-family: 'Sedgwick Ave Display', 'cursive';
}

#f-dejan {
    color: #fc5356;
    font-size: x-large;
}

#f-popovic {
    color: #20247b;
    font-size: x-large;
}

.footer-p {
    color: rgba(255, 255, 255, 0.55);
}

