<header>
    <!-- ======= Navbar ======= -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" id="navbar-brand" href="#home">
                <span id="dejan">DeJaN</span><span id="popovic">PoPoViĆ</span>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#info">Education</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#certification">Certification</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#work">Work experience</a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link" href="#contact">Contact me</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </nav><!-- ======= End Navbar ======= -->
</header><!-- ======= End Header ======= -->


