<!-- ======= Start Home Section ======= -->
<section lc-helper="background" class="container-fluid mb-5 d-flex justify-content-center" id="home">
    <div class="home-background-color p-5 mb-5 mt-5 lc-block col-xxl-7 col-lg-8 col-12">
        <div class="lc-block">
            <div editable="rich" class="rich">
                <h2 class="fw-bolder display-3">{{home_Info.headline}}</h2>
                <h3>{{home_Info.subtitle}}</h3>
            </div>
        </div>
        <div class="lc-block col-md-8">
            <div editable="rich" class="rich">
                <p class="lead">{{home_Info.home_Text}}</p>
            </div>
        </div>
        <div class="lc-block">
            <a class="btn btn-dark" href="#contact" role="button">Contact me</a>
        </div>
    </div>
</section><!-- ======= End Home Section ======= -->



